apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  namespace: rag-model
  labels:
    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: rag-frontend:vlatest
        imagePullPolicy: Never
        ports:
        - containerPort: 3000
        env:
        - name: NEXT_PUBLIC_API_URL
          valueFrom:
            configMapKeyRef:
              name: rag-config
              key: NEXT_PUBLIC_API_URL
